body {
    margin: 0;
    padding: 0;
}

#navbar {
    margin: 20px;
}

#title {
    font-weight: bold;
    margin-right: 20px;
}

#navbar a {
    margin: 0 10px;
    text-decoration: none;
}


#content {
    margin: 20px;
}

h2 {
    margin-bottom: 1px;
}

pre {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 1px;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code {
    display: block;
    font-family: monospace;
}
